.Dashboard {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.titleDashboard {
  margin-top: 50px;
  margin-bottom: 50px;
}

.notFoundDashboard {
  margin-top: 60px;
}

.notImageFound {
  width: 80vw;
  height: 50vh;
}

.footerDashboard {
  padding: 10px;
  margin-top: 10px;
  color: white;
  background-color: #5434af;
}
