.Dashboard {
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(rgb(240, 240, 255), rgb(160, 160, 255));
}

.titleDashboard {
  margin-top: 50px;
  margin-bottom: 50px;
}

.notFoundDashboard {
  margin-top: 60px;
}

.notImageFound {
  width: 80vw;
  height: 50vh;
}
