.containerImageList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.rootImageList {
    margin: 0px !important;
    min-height: 200px;
    max-height: 300px;
    width: 300px;
    margin: 30px;
}

.linkDetails {
    padding: 20px;
}